.timer {
  background: #F6F6F6;
  padding: 13px 14px;
  border-radius: 10px;
  text-align: center;
  font-family: "Gilroy-SemiBold", serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 14.3px;

  span {
    color: #fff;
    background: #C10F27;
    padding: 2px 4px;
    border-radius: 10px;
  }
}
