.section {
  background-color: #F6EFE5;
  padding: 0 18px;
}

.wrapper {
  max-width: 420px;
  margin: 0 auto;
}

.title {
  font-family: 'Mediasans-Bold', serif;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}