.section {
  background-color: #F6EFE5;
  padding: 52px 0;
}


.wrapper {
  max-width: 420px;
  margin: 0 auto;
}

.title {
  color: #E40022;
  font-family: "Gilroy-SemiBold", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 4px;
  text-align: center;
}

.headline {
  font-family: "Mediasans-Bold", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}


