.wrap {
  background: transparent url('./bg.png')  center / cover no-repeat;
  min-height: 370px;

  @media (min-width: 1440px) {
    background: #C10F27;
    min-height: auto;
  }
}

.section {
  @media (min-width: 1440px) {
    background: #C10F27;
  }
}

.figure {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    width: 548px;
    height: 555px;
    overflow: hidden;
    border-radius: 20px;
    flex-shrink: 0;
  }
}

.title {
  font-family: 'Mediasans-Bold', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: #fff;
  max-width: 200px;
  padding: 32px 0 9px;
  margin: 0 auto;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    max-width: 100%;
    font-size: 62px;
    line-height: 74.4px;
    padding: 132px 0 19px;
  }
}

.wrapper {
  background-color: #C10F27;
  padding: 42px 18px;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 100px;
  }
}

.list {
  color: #fff;
  margin: 0 18px;
  position: relative;

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #fff;
    left: 8px;
    top: 0;
  }

  @media (min-width: 1440px) {
    margin: 0 72px;
  }
}

.label {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    position: absolute;
    width: 114px;
    height: 28px;
    border-radius: 100px;
    left: 70px;
    top: -35px;
    background: #FFFFFF;
    font-family: "Gilroy-Bold", serif;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    color: #000;
  }
}

.item {
  padding-left: 44px;
  position: relative;
  margin-bottom: 44px;

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    left: 0;
    top: 0;
  }
  &:last-of-type {
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 17px;
      height: calc(100% - 17px);
      background-color: #C10F27;
      left: 0;
      top: 17px;
      z-index: 1;
    }
  }

  @media (min-width: 1440px) {
    padding-left: 70px;
    margin-bottom: 55px;
  }
}

.item_title {
  font-family: 'Gilroy-Bold', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 8px;

  @media (min-width: 1440px) {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 5px;
  }
}

.item_text {
  font-family: "Gilroy-Medium", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

.text {
  font-family: "Gilroy-Medium", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  max-width: 230px;
  margin: 0 auto 9px;
  color: #fff;

  @media (min-width: 1440px) {
    font-size: 24px;
    line-height: 28.8px;
    max-width: 650px;
  }
}

.subtext {
  font-family: "Gilroy-SemiBold", serif;
  font-size: 14px;
  line-height: 17px;
  color: rgba(#fff, .54);

  @media (min-width: 1440px) {
    display: none;
  }
}

.subtext_desktop {
  font-family: "Gilroy-SemiBold", serif;
  font-size: 18px;
  line-height: 22px;
  color: rgba(#fff, .54);
  display: none;
  margin-top: 32px;

  @media (min-width: 1440px) {
    display: block;
  }
}