.card {
  background-color: #fff;
  border: 2px solid #D1D1D1;
  border-radius: 10px;
  display: block;
  margin-bottom: 26px;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
  position: relative;


  &__active {
    border-color: #C10F27;
    .label {
      background-color: #0F4AC1;

    }
  }

  @media (min-width: 1440px) {
    padding: 18px 24px;
    margin-bottom: 40px;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gilroy-Black', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  width: 130px;
  height: 23px;
  position: absolute;
  background-color: #D1D1D1;
  top: -14px;
  left: 14px;
  border-radius: 100px;

  @media (min-width: 1440px) {
    width: 193px;
    font-size: 18px;
    height: 34px;
    top: -20px;
  }
}

.title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  font-family: "Gilroy-SemiBold", serif;
  font-size: 14px;
  line-height: 16px;
  color: #7F7F7F;
  padding: 4px 0 10px;
  text-align: left;

  @media (min-width: 1440px) {
    padding: 8px 0 12px;
    font-size: 18px;
    line-height: 22px;
  }
}

.check {
  margin-right: 10px;
  width: 13px;
  height: 13px;

  @media (min-width: 1440px) {
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }
}

.transparent_button {
  font-family: "Gilroy-SemiBold", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: #C10F27;
  border-bottom: 2px solid #C10F27;
  display: block;
  margin: 0 auto;

  @media (min-width: 1440px) {
    margin-top: -12px;
    line-height: 28px;
    font-size: 24px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 325px;
  min-height: 56px;
  background-color: #C10F27;
  font-family: 'Gilroy-Black', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  margin: 32px auto;
  border-radius: 100px;

  @media (min-width: 1440px) {
    min-width: 100%;
    min-height: 75px;
    font-size: 30px;
    line-height: 36px;
    margin: 28px auto 18px;
  }
}

.description_wrapper {
  padding-bottom: 58px;
  margin-bottom: 32px;
  border-bottom: 2px solid #E5D3BC;
  width: 100%;

  @media (min-width: 1440px) {
    padding: 20px 80px 70px;
    box-sizing: border-box;
  }
}

.description_inner_wrap,
.description_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy-SemiBold", serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: 1440px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.description_wrap {
  margin-bottom: 12px;
  justify-content: space-between;
  width: 100%;
}

.description_icon {
  width: 23px;
  height: 23px;
  margin-right: 7px;
}

.item {
  font-family: "Gilroy-SemiBold", serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  display: flex;
  align-items: center;

  span {
    font-family: "Gilroy-Bold", serif;
    font-weight: 700;
    color: #C10F27;
    padding-right: 4px;
  }

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  @media (min-width: 1440px) {
    font-size: 18px;
    line-height: 21px;

    &:not(:last-of-type) {
      margin-bottom: 13px;
    }
  }
}

.old_price {
  font-family: "Gilroy-Medium", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: line-through;
  padding-right: 6px;

  @media (min-width: 1440px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.price {
  font-family: "Gilroy-Bold", serif;
  font-size: 18px;
  line-height: 21px;
  color: #C10F27;

  @media (min-width: 1440px) {
    font-size: 28px;
    line-height: 33px;
  }
}

.title {
  font-family: 'Mediasans-Bold', serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    font-size: 42px;
    line-height: 50px;
  }
}
