.section {
  background-color: #F6EFE5;
  padding: 12px 18px 52px;
}

.image_wrap {
  position: relative;
  max-width: 216px;
  margin: 0 auto 28px;

  @media (min-width: 1440px) {
    max-width: 100%;
    margin: 0;
  }
}

.image {
  width: 100%;

  @media (min-width: 1440px) {
    width: 492px;
    height: 617px;
  }
}

.tablet {
  width: 87px;
  height: 87px;
  position: absolute;
  bottom: 10px;
  right: -30px;

  @media (min-width: 1440px) {
    width: 205px;
    height: 181px;
    bottom: 0;
    right: -60px;
  }

}

.stars {
  max-width: 81px;

  @media (min-width: 1440px) {
    width: 137px;
    height: 26px;
    max-width: 100%;
  }
}

.rating {
  font-family: var(--font-roboto), sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;

  strong {
    font-weight: 700;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
  }
}

.rating_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;

  @media (min-width: 1440px) {
    margin-bottom: 35px;
  }
}

.trustpilot {
  width: 105px;

  @media (min-width: 1440px) {
    width: 152px;
  }
}

.title {
  font-family: 'Mediasans-Bold', serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 14px;

  span {
    color: #C10F27;
  }

  @media (min-width: 1440px) {
    font-size: 72px;
    line-height: 86px;
    margin-bottom: 18px;
  }
}

.text {
  font-family: "Gilroy-SemiBold", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 22px;

  @media (min-width: 1440px) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }
}

.check {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.item {
  display: flex;
  align-items: center;
  font-family: "Gilroy-SemiBold", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 9px;

  @media (min-width: 1440px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.list {
  margin-bottom: 24px;
}

.wrapper {
  max-width: 420px;
  margin: 0 auto;

  @media (min-width: 1440px) {
    display: flex;
    max-width: 1440px;
    padding: 40px 100px 100px;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
}

.inner_wrap {
  max-width: 565px;
}

.button {
  background-color: #C10F27;
  width: 100%;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  span {
    padding-right: 20px;
    position: relative;
    font-family: "Gilroy-Bold", serif;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;

    &:after {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      transform: translateY(-50%);
      content: "";
      top: 50%;
      right: 0;
      position: absolute;
      background-color: #fff;

    }
  }

  @media (min-width: 1440px) {
    min-height: 66px;
    font-size: 24px;
    line-height: 28px;
  }
}
