.section {
  background-color: #F6EFE5;
  padding: 52px 18px;

  @media (min-width: 1440px) {
    padding: 100px;
  }
}

.wrapper {
  max-width: 420px;
  margin: 0 auto;

  @media (min-width: 1440px) {
    max-width: 100%;
  }
}

.title {
  font-family: "Mediasans-Bold", serif;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 18px;

  @media (min-width: 1440px) {
    font-size: 62px;
    line-height: 74px;
  }
}