.section {
  background-color: #F6EFE5;
  padding: 52px 18px;
}

.wrapper {
  max-width: 420px;
  margin: 0 auto;
}

.title {
  font-family: "Mediasans-Bold", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 18px;
}